.App {
    text-align: center;
    background: radial-gradient(farthest-corner at 0px 0px, #0d4d62, #40b3ff, #2d6780);
    color: #003f62;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 100px;
}

.App-header {
    height: 200px;
    padding: 40px;
}
